@import "tailwindcss";

/* app/globals.css */
@import "tailwindcss";

@theme {
  --font-dm-sans: "DM Sans", sans-serif;
  --color-main-text: #1E1E1E;
  --color-inactive-text: #8F8F8F;
  --color-border-gray: #C3C3C3;
  --color-nav-bg: #FFFFFF;
  --color-page-bg: #F6F6F6;
}

body {
  background-color: var(--color-page-bg);
  font-family: var(--font-dm-sans);
  color: var(--color-main-text);
  padding: 0;
  margin: 0;
}

.nav-shadow {
  box-shadow: 0px 4px 20px 0px #C5C5C540;
}

/* Custom Utilities untuk spesifikasi font */
.text-menu-active {
  font-family: var(--font-dm-sans);
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: -1.1%;
  color: #1E1E1E;
}

.text-menu-inactive {
  font-family: var(--font-dm-sans);
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: -1.1%;
  color: #8F8F8F;
}